@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Roboto+Slab&display=swap');

*
{
    font-family: 'Roboto Slab', serif;
}

#homeBody
{
    background-color: #f5f5f5;
}

h1, h2, h3, h4, h5, h6
{
    font-family: 'Playfair Display', serif;
}

#jornalLogo
{
    width: 10%;
    height: 10%;
    margin-bottom: 10px;
    margin-right: 15px;
}

#cabecalhoJornal
{
    border-bottom: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;    
}

#tituloJornal
{
    font-size: 60px;
}

#subtituloJornal
{
    text-align: center;
    color: #424242;
}

.barraNavegacao
{
    display: flex;
    justify-content: space-between;
    margin: 0 150px 0 150px;
}

a 
{
    color: #424242;
    text-decoration: none;
}
a:link, a:visited {
    color: #424242;
}
a:hover {
    color: blue;
}

section
{
    display: flex;   
    flex-wrap: wrap;
}

.noticiaCorpo
{
    flex: 1;
    flex-shrink: 0;
    flex-basis: 50%;
    padding: 10px;
    text-align: justify;
    box-sizing: border-box;
    margin-bottom: 15px;   
}

.noticiaFoto
{
    width: 100%;      
}

iframe.youtubeVideo {
    max-height: 100%;
    max-width: 100%;
}

#tituloSobreMim
{
    font-size: 40px;
    text-align: center;
}

#resumoFoto
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid #212121;
    border-radius: 5px;
    margin-bottom: 10px;
}

#resumoTexto
{    
    flex-direction: column;
}

#fotoPerfil
{
    border-radius: 5px;
    margin-right: 15px;
}

#resumo
{
    text-align: justify;
}

.h3SobreMim
{
    font-size: 25px;
}

.h4SobreMim
{
    font-size: 20px;
}

.h5SobreMim
{
    font-size: 15px;
    margin-top: -15px;
}

#mainSobreMim
{
    padding: 15px;
    color: #212121;
}

#experiencia, #formacaoAcademica, #links
{
    padding: 10px;
    border: 2px solid #212121;
    border-radius: 5px;
    margin-bottom: 10px;
}

li
{
    margin: 10px;
}

#listaLinks
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#flexList
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin-top: -25px;
}

#linkedin, #github, #codePen
{
    width: 5%;
}

#flexList li img
{
    margin-bottom: -20px;
}

#flexList li a
{
    padding: 10px;
}

